.layanan {
    padding-top: 15%;
}

.box-layanan {
    /* display: flex; */
    margin-left: 5%;
    margin-right: 5rem;
    /* justify-content: space-around; */
}

.box-layanan .services {
    /* display: flex; */
    float: left;
    /* justify-content: space-around; */
}

.services {
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 22px;
}

.services img {
    float: left;
    margin-top: 10px;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 2rem;
}

.services p {
    margin-top: 1rem;
}

.tambah-keranjang {
    margin-bottom: 5rem;
}

.tambah.keranjang a {
    font-size: 12px;
    text-decoration: none;
    float: left;
}

.tambah-keranjang img {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 2em;
}

.services .tambah-keranjang button {
    background-color: rgba(228, 234, 239, 0.626);
    border-radius: 1rem;
    align-items: center;
}

.feedback p {
    text-align: center;
}

.about {
    padding: 75px 50px;
    background: rgba(134, 135, 141, 0.37);
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-left: 28%;
    margin-bottom: 50px;
}
#about .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about .row .col50 {
    position: relative;
    width: 100%;
    text-align: center;

}

div .about .row .col50 p {
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    text-align: center;

}

.about .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
	background-color:#87AAAA;
    text-decoration: none;
}

button a{
    padding: 5px 10px;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
	background-color:#87AAAA;
    text-decoration: none;
}