.layanan {
    padding-top: 15%;
}

.box-layanan {
    /* display: flex; */
    margin-left: 5%;
    margin-right: 5rem;
    /* justify-content: space-around; */
}

.box-layanan .services {
    display: flex;
    float: left;
    justify-content: space-around;
}

.services {
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 22px;
}

.services img {
    float: left;
    margin-top: 10px;
    align-items: center;
    border-radius: 1em;
    
}

.services p {
    margin-top: 15rem;
}

.tambah-keranjang {
    margin-bottom: 5rem;
}

.tambah.keranjang a {
    font-size: 12px;
    text-decoration: none;
    float: left;
}

.tambah-keranjang img {
    margin-left: 3rem;
    margin-right: 3rem;
}

.services .tambah-keranjang button {
    background-color: rgba(228, 234, 239, 0.626);
    border-radius: 1rem;
    align-items: center;
}